<header class="jumbotron">
  <div class="inner">
    <div class="container">
      <h1 style="letter-spacing:-3px; margin-bottom:20px;">License Generator</h1>
      <p class="lead"></p>
    </div><!-- /container -->
  </div>
</header>